.main-footer-container{
    background-color: #02243F;
    padding-bottom: 10px;
    color: white;
    position: relative;
    bottom:0;
    left: 0;
    right: 0;
}


.footer-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 45px;
    padding-top: 30px;

}

.company-logo{
    max-width: 200px;
    margin-bottom: 15px;
    margin-top: 10px;
}

.store-description,
.newletter-content{
    margin-top: 0px;
    max-width: 300px;
}

.footer-content-container{
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    
}

.social-media-button-container{
    display: flex;
    gap: 15px;
    margin-top: 25px;
}

.fa{
    color: aliceblue;
    font-size: 19px;
    text-align: center;
    padding: 10px 15px;
    border-radius: 8px;
    border-style: solid;
    text-decoration: none;
    cursor: pointer;
    transition: 0.5s;
}

.fa:hover{
    color: #F27B12;
    border-color: #F27B12;
}

.footer-links{
    margin-bottom: 5px;
    color: white;
    transition: 0.5s;
}

.footer-links:hover{
    color: #F27B12;
}

.input-container{
	margin-top: 20px;
}

.enter-email{
    max-width: 250px;
    padding: 10px;
    border-radius: 5px;
}

.submit-button{
    padding: 12px;
    border-radius: 5px;
}

.copyright-tag{
    margin-bottom: 20px;
}