@charset "UTF-8";

body{
	background-color: aliceblue;
}

*{
	font-family: "Poppins";
	margin: 0;
	padding: 0;
}

button{
	background-color: #F27B12;
	color: white;
	cursor: pointer;
    border-style: none;
	font-weight: 500;
	transition: 0.6s opacity;
}

button:hover{
	opacity: 85%;

}

a{
	text-decoration: none;
	margin-bottom: 0px;
	margin-top: 0px;
}

p{
	margin: 0;
}